#cases {
    display: flex;
    width: 95%;
    margin: 20px;
    gap: 20px;
}

.case-list,
.case-details,
.notes-section {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.case-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    overflow-x: auto;
}

#estado-fix {
    margin: 0.4rem auto auto;
}

.case-details {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    gap: 15px;
}

.notes-section {
    max-height: 87vh;
    flex: 2;
    overflow-y: auto;
}

.case-details a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}