{% include 'header.html' %}
<div id="cases">
    <div class="case-list">
        <table>
            <thead>
                <tr>
                    <th><span>ID de Caso<a
                                href="/cases/page/{{ current_page }}/id/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                                <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'id' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'id' else url_for('static', filename='arrow-grey.png')) }}
                        " alt="Orden">
                            </a>
                        </span>
                    </th>
                    <th><span>Nombre del Caso<a
                                href="/cases/page/{{ current_page }}/nombre_caso/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                                <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'nombre_caso' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'nombre_caso' else url_for('static', filename='arrow-grey.png')) }}
                    " alt="Orden">
                            </a>
                        </span>
                    </th>
                    <th><span>Estado<a
                            href="/cases/page/{{ current_page }}/estado/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                            <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'estado' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'estado' else url_for('static', filename='arrow-grey.png')) }}
                    " alt="Orden">
                        </a>
                    </span>
                    </th>
                    <th><span>Prioridad<a
                            href="/cases/page/{{ current_page }}/prioridad/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                            <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'prioridad' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'prioridad' else url_for('static', filename='arrow-grey.png')) }}
                " alt="Orden">
                        </a>
                    </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for caso in casos %}
                <tr class="clickable-case" data-id="{{ caso[0] }}" data-nombre="{{ caso[2] }}"
                    data-estado="{% if caso[4] == 1 %}Abierto{% else %}Cerrado{% endif %}"
                    data-prioridad="{{ caso[5] }}" data-abogado="{{ caso[6] }}" data-cliente="{{ caso[7] }}"
                    data-tipo="{{ caso[3] }}" data-creacion="{{ caso[8] }}">
                    <td data-label="ID de Caso">#{{ caso[0] }}</td>
                    <td data-label="Nombre del Caso">{{ caso[2] }}</td>
                    <td data-label="Estado">
                        <span class="estado {% if caso[4] == 1 %}verde{% else %}gris{% endif %}">
                            {% if caso[4] == 1 %}Abierto{% else %}Cerrado{% endif %}
                        </span>
                    </td>
                    <td data-label="Prioridad">
                        <span
                            class="estado {% if caso[5] == 1 %}rojo{% elif caso[5] == 2 %}amarillo{% else %}verde{% endif %}">
                            {% if caso[5] == 1 %}
                            Alta
                            {% elif caso[5] == 2 %}
                            Media
                            {% elif caso[5] == 3 %}
                            Baja
                            {% endif %}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <section class="pagination">
            {% if current_page > 1 %}
            <a href="/cases/page/{{ current_page - 1 }}/{{ order_by }}/{{ order_direction }}">
                << {% endif %} {% for page in range(1, total_pages + 1) %} <a
                    href="/cases/page/{{ page }}/{{ order_by }}/{{ order_direction }}"
                    class="{% if page == current_page %}active{% endif %}">
                    {{ page }}
            </a>
            {% endfor %}

            {% if current_page < total_pages %} <a
                href="/cases/page/{{ current_page + 1 }}/{{ order_by }}/{{ order_direction }}">>>
                </a>
                {% endif %}
        </section>
    </div>

    <div class="case-details">

    </div>

    <!-- Notes Section -->
    <div class="notes-section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Negó Documentos</td>
                    <td>2024-11-01</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Llamar de Nuevo</td>
                    <td>2024-10-15</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Citación a Caso</td>
                    <td>2024-11-05</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Revisión de Evidencias</td>
                    <td>2024-09-20</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Solicitud de Documentos</td>
                    <td>2024-11-10</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Agendar Audiencia</td>
                    <td>2024-11-18</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='cases.js') }}"></script>
{% include 'footer.html' %}