{% include 'header.html' %}
<div id="cases">
    <div class="case-list">
        <table>
            <thead>
                <tr>
                    <th><span>ID de Caso<a
                                href="/cases/page/{{ current_page }}/id/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                                <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'id' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'id' else url_for('static', filename='arrow-grey.png')) }}
                        " alt="Orden">
                            </a>
                        </span>
                    </th>
                    <th><span>Nombre del Caso<a
                                href="/cases/page/{{ current_page }}/nombre_caso/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                                <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'nombre_caso' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'nombre_caso' else url_for('static', filename='arrow-grey.png')) }}
                    " alt="Orden">
                            </a>
                        </span>
                    </th>
                    <th><span>Estado<a
                                href="/cases/page/{{ current_page }}/estado/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                                <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'estado' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'estado' else url_for('static', filename='arrow-grey.png')) }}
                    " alt="Orden">
                            </a>
                        </span>
                    </th>
                    <th><span>Prioridad<a
                                href="/cases/page/{{ current_page }}/prioridad/{{ 'desc' if order_direction == 'asc' else 'asc' }}">
                                <img class="filter" src="{{ url_for('static', filename='up.png') if order_direction == 'asc' and order_by == 'prioridad' else (url_for('static', filename='down.png') if order_direction == 'desc' and order_by == 'prioridad' else url_for('static', filename='arrow-grey.png')) }}
                " alt="Orden">
                            </a>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for caso in casos %}
                <tr class="clickable-case" data-id="{{ caso[0] }}" data-nombre="{{ caso[1] }}"
                    data-estado="{% if caso[3] == 1 %}Abierto{% else %}Cerrado{% endif %}"
                    data-prioridad="{{ caso[4] }}" data-abogado="{{ caso[8] }}" data-cliente="{{ caso[7] }}"
                    data-tipo="{{ caso[2] }}" data-creacion="{{ caso[5] }}">
                    <td data-label="ID de Caso">#{{ caso[0] }}</td>
                    <td data-label="Nombre del Caso">{{ caso[1] }}</td>
                    <td data-label="Estado">
                        <span class="estado {% if caso[3] == 1 %}verde{% else %}gris{% endif %}">
                            {% if caso[3] == 1 %}Abierto{% else %}Cerrado{% endif %}
                        </span>
                    </td>
                    <td data-label="Prioridad">
                        <span
                            class="estado {% if caso[4] == 1 %}rojo{% elif caso[4] == 2 %}amarillo{% else %}verde{% endif %}">
                            {% if caso[4] == 1 %}
                            Alta
                            {% elif caso[4] == 2 %}
                            Media
                            {% elif caso[4] == 3 %}
                            Baja
                            {% endif %}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <section class="pagination">
            {% if current_page > 1 %}
            <a href="/cases/page/{{ current_page - 1 }}/{{ order_by }}/{{ order_direction }}">
                << {% endif %} {% for page in range(1, total_pages + 1) %} <a
                    href="/cases/page/{{ page }}/{{ order_by }}/{{ order_direction }}"
                    class="{% if page == current_page %}active{% endif %}">
                    {{ page }}
            </a>
            {% endfor %}

            {% if current_page < total_pages %} <a
                href="/cases/page/{{ current_page + 1 }}/{{ order_by }}/{{ order_direction }}">>>
                </a>
                {% endif %}
        </section>
    </div>

    <div class="case-details">
        <table>
            <thead>
                <tr>
                <h3>Detalles de caso</h3>
                </tr>
            </thead>                       
        </table>
        <div>
            <strong>ID de caso</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Nombre de caso</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Estado</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Abogado(s) encargado(s)</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Cliente</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Tipo de caso</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Prioridad</strong><br>
            <p></p>
        </div>
        <div>
            <strong>Creación</strong><br>
            <p></p>
        </div>
    </div>

    <!-- Notes Section -->
    <div class="notes-section">
        <h3>Tickets asociados al caso</h3>
        <table>
            <thead>
                <tr>
                    <th>ID de Ticket</th>
                    <th>Nombre</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody id="notas">
            </tbody>
        </table>`
    </div>
</div>
<script src="{{ url_for('static', filename='cases.js') }}"></script>
{% include 'footer.html' %}
